<div class="header_container">
  <h6>Projeto Angular Quizz - Desenvolvido por Edson Matheus</h6>

  <div class="badges_container">
    <a href="https://github.com/ed-matheus" class="github_link">
      <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="">
    </a>

    <a href="https://www.linkedin.com/in/edson-matheus-b5a0171ba/" class="linkedin_link">
      <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="">
    </a>
  </div>
</div>
