.header_container {
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container > h6 {
  font-weight: lighter;
}

.github_link {
  margin-right: 10px;
}

/* MEDIA QUERIE */
@media screen and (max-width: 411px) {
  .header_container > h6 {
    font-size: 12px;
  }
}
