/* Container Pai */
.quiz__container {
  width: 80%;
  margin: auto;
  margin-top: 135px;
}

/* Container do Título */
.quiz_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.quiz_title > h3 {
  margin-top: 5px;
  margin-bottom: 50px;
}

.btn {
  background-color: #194c7c;
  font-weight: 500;
}

.btn:hover {
  background-color: #133d64;
}

/* Container das questões */
.quiz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0f2c47;
  border-radius: 8px;
  background-color: #194c7c;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: 'Segoe UI';
  margin-bottom: 20px;
}

/* Container das opções */
.quiz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #d3b109;
  width: 40%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 16px 31px;
  margin: 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #0f2c47;
}

.btn-option:hover {
  background-color: #caa232;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

/* Resultado */
.quiz_results {
  width: 100%;
  height: 60%;
  background-color: #0f2c47;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz_results > p {
  font-size: 20px;
  font-weight: bold;
}

.veja_mais {
  display: flex;
  flex-direction: column;
}

.veja_mais > button {
  font-size: 15px;
  margin-bottom: 28px;
  background-color: transparent;
  outline: none;
}

.veja_mais > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Texto extra a respeito da área profissional */
.texto_extra {
  width: 528px;
  text-align: justify;
}

/* MEDIA QUERIES */
@media screen and (max-width: 489.98px) {
  .quiz_title > h1 {
    font-size: 48px;
  }

  .quiz_title > h3 {
    font-size: 18px;
  }

  .btn {
    width: 90px;
    height: 42px;
    font-size: 16px;
  }

  /* Container das questões */
  .quiz_questions {
    height: 140px;
  }

  .quiz_questions > h3 {
    font-size: 18px;
  }

  .btn-option {
    width: 150px;
    margin: 6px;
    font-size: 12px;
  }

  /* Resultado */
  .quiz-results > h1 {
    font-size: 16px;
  }

  .quiz_results > p {
    font-size: 14px;
  }

  /* Texto extra a respeito da área profissional */
  .texto_extra {
    font-size: 11px;
    width: 335px;
    text-align: justify;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 490px) and (max-width: 575.98px) {
  .quiz_title > h1 {
    font-size: 52px;
  }

  .quiz_title > h3 {
    font-size: 18px;
  }

  .btn {
    width: 90px;
    height: 42px;
    font-size: 16px;
  }

  /* Container das questões */
  .quiz_questions {
    height: 140px;
  }

  .quiz_questions > h3 {
    font-size: 18px;
  }

  .btn-option {
    width: 150px;
    margin: 6px;
    font-size: 12px;
  }

  /* Resultado */
  .quiz_results > p {
    font-size: 13px;
  }

  /* Texto extra a respeito da área profissional */
  .texto_extra {
    font-size: 12px;
    width: 365px;
    text-align: justify;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .quiz_title > h1 {
    font-size: 59px;
  }

  .quiz_title > h3 {
    font-size: 20px;
  }

  .btn {
    width: 98px;
    height: 45px;
    font-size: 17px;
  }

  /* Container das questões */
  .quiz_questions {
    height: 145px;
  }

  .quiz_questions > h3 {
    font-size: 25px;
  }

  .btn-option {
    margin: 8px;
    font-size: 15px;
  }

  /* Resultado */
  .quiz_results > p {
    font-size: 17px;
  }

  /* Texto extra a respeito da área profissional */
  .texto_extra {
    font-size: 16px;
    width: 476px;
    text-align: justify;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .quiz_title > h1 {
    font-size: 76px;
  }

  .quiz_title > h3 {
    font-size: 24px;
  }

  .btn {
    width: 102px;
    height: 48px;
    font-size: 19px;
  }

  /* Container das questões */
  .quiz_questions {
    height: 150px;
  }

  .quiz_questions > h3 {
    font-size: 28px;
  }

  .btn-option {
    margin: 8px;
    font-size: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .quiz_title > h1 {
    font-size: 86px;
  }

  .quiz_title > h3 {
    font-size: 26px;
  }

  .btn {
    width: 112px;
    height: 48px;
    font-size: 20px;
  }

  .btn-option {
    margin: 8px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn {
    width: 112px;
    height: 48px;
    font-size: 20px;
  }

  .btn-option {
    margin: 8px;
  }
}
